/*### RESET - THANKS HTML5RESET.ORG ###*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* max-width: 100% doesn't play nice with Google Maps. Remove this and use .responsive. */
img, object, embed {
  max-width: 100%;
}

.responsive {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  word-wrap: break-word;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

a:hover, a:active {
  outline: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* Creates a hand cursor on clickable elements */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache",false,true) );
}

/* clearfixing */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  font: 10px Helmet, Freesans, sans-serif;
}

body, select, input, textarea {
  color: #333;
}

a {
  color: #03f;
}

a:hover {
  color: #69f;
}

::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #fcd700;
}

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/*### END RESET ###*/

/*### SITE-SPECIFIC ###*/

html, body {
  height: 100% !important;
}

body {
  background: url('./texture-min.png') top left repeat;
  font-size: 10px;
  font-family: 'Poly', serif;
  text-transform: uppercase;
}

#top, #right, #bottom, #left {
  background: #333;
  position: fixed;
}

#left, #right {
  top: 30px;
  bottom: 30px;
  width: 15px;
}

#left {
  left: 30px;
}

#right {
  right: 30px;
}

#top, #bottom {
  left: 30px;
  right: 30px;
  height: 15px;
}

#top {
  top: 30px;
}

#bottom {
  bottom: 30px;
}

/* Used to hide the edge margins */
#top-bg, #bottom-bg {
  position: fixed;
  background: white;
  z-index: 999;
}

#top-bg:before, #bottom-bg:before {
  width: 100%;
  height: 30px;
  background: url('./texture-min.png') top left repeat;
  content: ' ';
  position: absolute;
  z-index: -1;
}

#top-bg, #bottom-bg {
  width: 100%;
  height: 30px;
  left: 0;
}

#top-bg {
  top: 0;
}

#bottom-bg {
  bottom: 0;
}

#main {
  display: table;
  width: 100%;
  height: 100%;
}

#cell {
  display: table-cell;
  font-size: 6em;
  text-align: center;
  vertical-align: middle;
}

#get-in-touch {
  padding-right: 25px;
  border-right: 3px solid #333;
}

#contact {
  padding-left: 25px;
}

#contact li {
  padding: 7px 0;
}

#articles {
  margin: 50px auto;
}

#articles a {
  color: #333;
  padding: 8px 16px;
  border: 3px solid currentColor;

  transition: color 0.2s ease;
}

#articles a:hover {
  color: #69f;
}

.table {
  margin: 25px auto;
  display: table;
}

.center-vertical {
  vertical-align: middle;
}

.cell {
  display: table-cell;
}

.small {
  font-size: 0.4em;
}

h2 {
  font-size: .5em;
}

a {
  color: #333;
  text-decoration: none;
}

/* Get rid of the border on mobile. */
@media screen and (max-width: 768px), screen and (max-device-width: 480px) {
  #top, #bottom, #left, #right,
  #top-bg, #bottom-bg, #left-bg, #right-bg {
    display: none;
  }

  .table {
    display: block;
  }

  .cell {
    display: block;
  }

  #get-in-touch {
    padding-right: 0;
    border: none;
  }

  #contact {
    padding-left: 0;
  }
}

@media screen and (max-device-width: 480px) {
  body {
    font-size: 25px;
  }
}

/* ARTICLES */
.articles-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.articles-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 50px auto;

  padding: 30px 0;

  border-bottom: 3px solid #333;
  border-top: 3px solid #333;
}

.articles-header-name {
  padding-right: 20px;
}

.articles-header-title {
  padding-left: 20px;
}

.articles-list {
  margin: 100px 80px 80px 80px;
}

/* Articles on mobile */
@media screen and (max-width: 768px), screen and (max-device-width: 480px) {
  .articles-list {
    margin: 0 10px 20px 20px;
  }

  /* Articles should take up the entire screen */
  .articles-container {
    display: block;
  }
}

.article-year {
  font-size: 20px;
  margin-right: 30px;
}

.article-year-wrap {
  display: flex;
  margin-bottom: 50px;
}

.article-row {
  font-size: 30px;
  text-transform: none;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.article-read {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.article-date {
  font-size: 20px;
}
