---
layout: articles
title: Bill Granfield - Software Engineering
---

<div class="post wysiwyg">
  {{ content }}

  <hr class="post-end">

  <div class="engage-wrap">
    <div class="engage">
      <span>Questions about the post? Want to leave feedback?</span>
      <span>
        Open up a GitHub Issue on the 
        <a href="https://github.com/b-gran/billgranfield.com/issues">site repo</a>!
      </span>
      <span><a href="https://github.com/b-gran/billgranfield.com/issues">https://github.com/b-gran/billgranfield.com/issues</a></span>
    </div>
  </div>
</div>
